{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load custom_tags %}

{% block pagetitle %}Finding Form{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:findings' %}">Findings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Finding Form</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="finding-accordion">
        <!-- Keyword Cheatsheet -->
        <div class="card">
            <div class="card-header" id="keyword" data-toggle="collapse" data-target="#collapseKeyword">
                <a class="accordion-toggle btn btn-link icon code-icon" data-toggle="collapse" data-target="#collapseKeyword" aria-expanded="false" aria-controls="collapseKeyword">Reference & Instructions</a>
            </div>
            <div id="collapseKeyword" class="collapse" aria-labelledby="description" data-parent="#accordion">
                <div class="card-body">
                  <p>Utilize the WYSIWIG HTML formatting to apply bold, italic, code, inline code, and other text styles.
                    These styles will carry over to the Word and PowerPoint reports. <br>
                    You may also leverage Jinja2 statements and expressions like you do inside your report templates.</p>
                  <p>See the documentation for more details.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Instructions Section -->
    <p>Fill-out this form as completely as possible with the necessary information and references for this finding:</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}

{%  block morescripts %}
    <script>
      {%  comment %} Prepare CVSS calculator {% endcomment %}
      $(document).ready(function () {
        var initialCVSSVersion = '{{ form.cvss_version.value }}';
        function loadCVSSCalculator(version) {
            var url;
            if(version == "3.0"){
                url = "/reporting/cvss_v30_calculator/";
            } else if (version == "3.1") {
                url = "/reporting/cvss_v31_calculator/";
            } else if (version == "4.0") {
                url = "/reporting/cvss_v40_calculator/";
            } else {
                return
            }
            
            $.ajax({
                url: url,
                method: 'GET',
                success: function(data) {
                    $('#cvss_calculator_container').html(data);
                    prepareCVSSCalc(initialCVSSVersion);
                },
                error: function() {
                    console.error('Failed to load the CVSS calculator');
                }
            });
        }
        
        loadCVSSCalculator(initialCVSSVersion);
        $('#id_cvss_version').change(function() {
            var selectedVersion = $(this).val();
            var cvssData = JSON.parse('{{ cvss_data|escapejs }}');
            $('#id_cvss_score').val(cvssData[selectedVersion].score);
            $('#id_cvss_vector').val(cvssData[selectedVersion].vector);
            loadCVSSCalculator(selectedVersion);
            prepareCVSSCalc(initialCVSSVersion);
        });
      });

    </script>
{% endblock %}

